<section>
  <ul>
    @for (recipe of recipes(); track recipe.id) {
    <li>
      <a role="button" (click)="selectRecipe(recipe.id)">
        {{ recipe.name }}
      </a>
    </li>
    }
  </ul>
</section>

@if (selectedRecipeIndex() !== -1) {
<app-recipe-detail [recipeIndex]="selectedRecipeIndex()" />
} @else {
  <h2>Seleziona la tua ricetta preferita.</h2>
}

<section class="recipe__actions">
  <div class="recipe__actions-group">
    <button class="btn btn--primary" (click)="onPrevRecipe()">Previous Recipe</button>
    <button class="btn btn--primary" (click)="onNextRecipe()">Next Recipe</button>
  </div>
</section>
