:host {
  display: block;
  padding: 24px 16px;
}

.app {
  max-width: 960px;
  margin: 0 auto;
}

.app__header {
  margin-bottom: 24px;
  text-align: center;
}

.app__title {
  margin: 0;
  font-size: 1.8rem;
}

.app__content {
  display: block;
}
